[Desktop Entry]
Exec=/home/roberto/bin/rem_desk_kde
Name=Remove a Virtual Desk in KDE
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
